<footer class="bg-light-green py-4 mt-5" style="background: #f6c7f5 !important; border-bottom: 1px solid #b0d8b0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 style="color: #1f3d12;"></h5>
                <p style="color: #2e5a1c;">Телефон: +7 (383) 310-12-25</p>
                <p style="color: #2e5a1c;">Email: zakaz@magazin-flowers.ru</p>
            </div>

            <div class="col-md-4">
<br>
<br>
<br>
                <p class="mt-3" style="color: #2e5a1c;">&copy; 2025 Цветы жизни. *!!! сайт учебный !!!*</p>
            </div>
        </div>
    </div>
</footer>